
<form name="jsform" method="post" action="{{ action }}" target="_blank">   
    <input type="hidden" name="pp_Version" value="{{ pp_version }}" />
    <input type="hidden" name="pp_TxnType" value="" />
    <input type="hidden" name="pp_Language" value="{{ pp_language }}" />
    <input type="hidden" name="pp_MerchantID" value="{{ pp_merchantId }}" />
    <input type="hidden" name="pp_SubMerchantID" value="{{ pp_SubMerchantId }}" />
    <input type="hidden" name="pp_Password" value="{{ pp_password }}" />
    <input type="hidden" name="pp_BankID" value="" />
    <input type="hidden" name="pp_ProductID" value="" />
    <input type="hidden" name="pp_TxnRefNo" value="{{ pp_TxnRefNo }}" />
    <input type="hidden" name="pp_Amount" value="{{ pp_Amount }}" />
    <input type="hidden" name="pp_TxnCurrency" value="{{ pp_currency }}" />
    <input type="hidden" name="pp_TxnDateTime" value="{{ pp_txnDateTime }}" />
    <input type="hidden" name="pp_BillReference" value="{{ pp_billRef }}" />
    <input type="hidden" name="pp_Description" value="{{ pp_description }}" />
    <input type="hidden" name="pp_TxnExpiryDateTime" value="{{ pp_txnExpDateTime }}" />
    <input type="hidden" name="pp_ReturnURL" value="{{ pp_returnUrl }}" />
    <input type="hidden" name="pp_SecureHash" value="{{ pp_secureHash }}" />
    <input type="hidden" name="ppmpf_1" value="1" />
    <input type="hidden" name="ppmpf_2" value="2" />
    <input type="hidden" name="ppmpf_3" value="3" />
    <input type="hidden" name="ppmpf_4" value="4" />
    <input type="hidden" name="ppmpf_5" value="5" />
     <div class="buttons">
<div class="pull-right">
<input type="submit" class="btn btn-primary" value="{{ button_confirm }}"/>
</div>
</div> 
</form>

